---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Posts from "../components/Posts.astro";
import Subscribe from "../components/Subscribe.astro";
import WaveDivider from "../components/WaveDivider.astro";
import Socials from "../components/Socials.astro";

// TODO: Fill in your preferences.
const variables = {
  name: "Ethan",
  subtitles:
    "I'm a writer and engineer, with interests spanning from data analysis and visualization to music processing.",
};

const personSchema = {
  "@context": "https://schema.org",
  "@type": "Person",
  name: "Ethan Lebowitz",
  url: "https://ethleb.com",
  sameAs: ["https://github.com/EthanLebowitz"],
};
---

<Layout
  title="Ethan Lebowitz"
  description={variables.subtitles}
>
  <script type="application/ld+json" set:html={JSON.stringify(personSchema)} />
  <main>
    <Intro name={variables.name} subtitle={variables.subtitles} />
    <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

    <Projects />
    <WaveDivider color="flamingo" speed={100} size={0.8} direction="right" />

    <Posts />
    <Subscribe />
    <WaveDivider color="blue" speed={100} size={0.8} direction="left" />

    <Socials />
  </main>
</Layout>
