---
// This page redirects to /posts/lethal-toxicity
const redirectTo = "/posts/lethal-toxicity";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${redirectTo}`} />
    <link rel="canonical" href={redirectTo} />
    <script is:inline>
      window.location.href = "/posts/lethal-toxicity";
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>
      Redirecting to <a href={redirectTo}>Acute Lethal Toxicity of Recreational Drugs</a>...
    </p>
  </body>
</html>
